.Todo {
    font-size: 20px;
    text-align: left;
    margin: 50px auto;
    background-color:  #f5f5f5;
    min-height: 20px;
    padding: 20px;
    width: 70%;    
    border-radius: 40px; /* curve */
    border: 3px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    
}

.Todo h1 {
    font-size: 25px;
}

.Todo ul {
    margin: 20px 0px;
    padding: 0px; 
    list-style: none;
}

.Todo ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 10px 15px; /* t r */
}

.Todo ul li .hide {
    visibility: hidden;
}

.Todo ul li.completed {
    background-color: #dff0d8;
}

.Todo ul li .actions {
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.Todo ul li span {
    cursor: pointer;
}

.Todo ul li .done {
    color: #79c41d;
    display: block;
}

.Todo ul li .trash {
    color: #c41d1d;
    display: block;
}

/* input */
.Todo form input {
    height: 34px;
    line-height: 34px;
    padding: 6px, 12px;
    width: 40%;
    font-size: 14px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

}