.Pomodoro {
  padding: 50px;
}

.Pomodoro .timer {
  font-weight: bold;
  font-size: 100px;
}

.Pomodoro .alert {
  padding: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}

.Pomodoro .alert .work {
  background: #5da423
}

.Pomodoro .alert .shortBreak {
  background: #f4ad42
}

.Pomodoro .alert .longBreak {
  background: #2ba6cb
}




