.Pomodoro {
  padding: 50px;
}

.Pomodoro button {
  background: #2ba6cb;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 50px 10px 0px 10px;
  padding: 10px 20px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.5) inset;  /* left top */
}

.Pomodoro .timer {
  font-weight: bold;
  font-size: 100px;
}

.Pomodoro .alert {
  padding: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}

.Pomodoro .alert.work {
  background: #5da423
}

.Pomodoro .alert.shortBreak {
  background: #f4ad42
}

.Pomodoro .alert.longBreak {
  background: #2ba6cb
}

.Pomodoro .alert.buz {
  background:  #c60f13
}




